.about {
    width: 100%;
    max-width: 1440PX;
    margin: 0 auto;
}
.about h2 {
    font-size: 48PX;
    font-weight: 600;
    margin-left: 86PX;
    margin-top: 50PX;
}
.video_wr {
    padding: 0 86PX;
    margin: 50PX 0;
    
}
.video_wr iframe {
    border-radius: 12PX;
    overflow: hidden;
}