.footer {
    margin: auto 0 0;
    padding: 0;
    width: 100%;
}
.footer a {
    color: #fff;
    font-size: 14PX;
    font-weight: 400;
}
.footer_wr {
    display: flex;
    flex-direction: row;
    background-color: #3F3F3F;
    width: 100%;
    max-width: 1440PX;
    height: 165PX;
    margin: 0 auto;
}
.footer_left {
    display: flex;
    flex-direction: column;
    margin: 40PX 0 0 125PX;
}
.footer_left a {
    padding-bottom: 25PX;
}
.footer_middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50PX 0 0 200PX;
    width: 690PX;
}
.footer_middle-wr {
    display: flex;
    flex-direction: column;
}
.footer_middle-wr:last-child {
    margin-left: 0PX;
}

.footer_middle-wr a {
    margin-bottom: 40PX;
    margin-right: 70PX;
}
.footer_wr:last-child {
    align-self: flex-end;
}
.footer_right {
    display: flex;
    flex-direction: row;
    margin: 50PX 0 0 0PX;
    flex-wrap: wrap;
    width: 150PX;
}

.footer_right img {
    width: 20PX;
    height: 20PX;
    margin-right: 15PX;
}
.footer_tel {
    width: 100%;
}
