.price {
    width: 100%;
    max-width: 1440PX;
    margin: 28PX auto 0 auto;
    height: 501PX;
    background-color: #fff;
}
.price_wr {
    margin-left: 86PX;
}
.price_wr h2 {
    font-size: 48PX;
    font-weight: 600;
    margin-top: 65PX;
    margin-bottom: 45PX;
}
.price_card_wr {
    display: flex;
    flex-direction: row;
}
.price_card {
    width: 232PX;
    height: 276PX;
    background-color: #F2F2F2;
    border-radius: 12PX;
    display: flex;
    flex-direction: column;
    margin-right: 27PX;
}
.price_card img {
    width: 232PX;
    height: 174PX;
    border-radius: 12PX 12PX 0 0;
}
.price_card h4 {
    font-size: 14PX;
    font-weight: 600;
    padding: 20PX 16PX;
}
.price_card p {
    font-size: 14PX;
    font-weight: 400;
    padding: 0PX 16PX;
}

  /*768*/
  @media only screen and (min-width: 768px) and (max-width: 1439px) {
    .price_wr {
        margin-left: 15PX;
        margin-right: 15PX;
    }
    .price_card_wr {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .price {
        height: auto;
        padding-top: 45PX;
        margin-top: 0;
    }
    .price_wr h2 {
        font-size: 32PX;
        margin-top: 0PX;
        margin-bottom: 20PX;
    }
    .price_card {
        flex-direction: row;
        width: 46%;
        height: 114PX;
        flex-wrap: wrap;
        margin-bottom: 14PX;
        margin-right: 0;
    }
    .price_card:nth-child(2n) {
        margin-left: 8%;
    }
    .price_card img {
        width: 86PX;
        height: 114PX;
        border-radius: 8PX 0 0 8PX;
        object-fit: cover;
        position: relative;
    }
    .price_card h4 {
        width: 200PX;
        height: auto;
        font-size: 14PX;
        padding: 35PX 5PX 35PX 20PX;
    }
    .price_card p {
        width: 200PX;
        height: auto;
        position: absolute;
        font-size: 14PX;
        margin: 65PX 0 0 90PX;
    }
  }
/*360*/
@media only screen and (max-width: 767px) {
    .price_wr {
        margin-left: 15PX;
        margin-right: 15PX;
    }
    .price_card_wr {
        flex-direction: column;
        align-items: center;
    }
    .price {
        height: auto;
        padding-top: 45PX;
        margin-top: 0;
    }
    .price_wr h2 {
        font-size: 32PX;
        margin-top: 0PX;
        margin-bottom: 20PX;
    }
    .price_card {
        flex-direction: row;
        width: 100%;
        max-width: 450PX;
        height: 114PX;
        flex-wrap: wrap;
        margin-bottom: 14PX;
        margin-right: 0;
    }
    .price_card img {
        width: 86PX;
        height: 114PX;
        border-radius: 8PX 0 0 8PX;
        object-fit: cover;
        position: relative;
    }
    .price_card h4 {
        width: 200PX;
        height: auto;
        font-size: 14PX;
        padding: 35PX 5PX 35PX 20PX;
    }
    .price_card p {
        width: 200PX;
        height: auto;
        position: absolute;
        font-size: 14PX;
        margin: 65PX 0 0 90PX;
    }
}