.swiper_top {
    margin: 10PX auto 0 auto;
    max-width: 1440PX;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide_top {
    width: 100%;
    margin: 20PX auto;
    padding: 0 80PX;
    position: relative;
}
.swiper-pagination_top {
    width: auto !important;
    margin-top: -10PX;
}
.swiper-pagination-bullet-active {
    background-color: #D6DC00 !important;
}
.btn_slider_on_top {
    width: 211PX;
    height: 54PX;
    background: linear-gradient(149deg, #D8E438 0%, #47B0B4 100%), linear-gradient(0deg, rgba(124, 195, 134, 0.50) 0%, rgba(124, 195, 134, 0.50) 100%); 
    border-radius: 12px;
    padding: 10PX;
    color: #fff;
    font-size: 16PX;
    font-weight: 600;
    position: absolute;
    bottom: 115PX;
    left: 190PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}